@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:wght@200;300&display=swap');

:root {
    --bg-color: #191921;
    --active-color: #34343d;
    --main-bg-color: #1e2024;
    --btn-bg-color: #34343d;
    --btn-text-color: #fff;
    --b3f: 250, 250, 250;
    --font-family: 'Poppins', sans-serif;
    --kanit-font-family: 'Kanit', sans-serif;

}

body {
    margin: 0;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    font-family: var(--font-family)
}

a {
    text-decoration: none;
    color: var(--bg-color);

}

::placeholder {
    font-family: var(--font-family)
}

.MuiTextField-root>label {
    font-family: var(--font-family)
}